body{
  text-align: center;
  width: 900px;
  background-color: rgb(249, 249, 249);
  margin: 0 auto; 
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

h1{
  background-color: rgb(249, 249, 249);
}

header button{
  margin-left: 50px;
  height: 40px;
  position:absolute;
  right: 0;
}

label{
  display: block;
}

.answer_num{
  font-size: 20px;
}

.result_row{
  display: flex;
  justify-content: center;
}

.answer_area{
  margin:20px 20px;
  padding: 20px;
}
li{
  list-style: none;
  
}

#comment{
  padding-left: 0;
}

.comment{
  border: 1px solid rgb(240, 240, 240);
  background-color: rgb(255, 255, 255,0.2);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin-bottom: 10px;
}

.question{
  font-weight: bold;
}

.question_area{
  margin-top: 40px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 30px;

}

.panel{
  border: 1px solid rgb(240, 240, 240);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.required::after {
  content: " *";
  color: red;
  vertical-align: middle;
}

.qCnt {
  display:none;
}

textarea {
	width: 400px;  /* 横幅 */
	height: 60px; /* 高さ */
  border-color: rgb(200, 200, 200);
  box-shadow: 0 2px 4px rgba(163, 163, 163, 0.2);
}

.name{
  border: solid 1px rgb(200, 200, 200);
  box-shadow: 0 2px 4px rgba(163, 163, 163, 0.2);
}

.msg{
  font-size: large;
}

