header{
  display: flex;
  align-items: center;
}

header button{
  margin-left: 50px;
  height: 40px;
}

.answer_num{
  font-size: 20px;
}

.upper_result{
  display: flex;
}
.lower_result{
  display: flex;
}
.answer_area{
  margin-left: 30px;
}
li{
  list-style: none;
}

.question{
  font-weight: bold;
}

.question_area{
  margin-top: 40px;
}

.required::after {
  content: " *";
  color: red;
  vertical-align: middle;
}


